<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" size="144x144" href="https://www.pngkey.com/png/detail/232-2326777_blogger-logo-icons-no-attribution-white-blog-icon.png" type="image/X-icon">
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/preloader.css">
    <title>RSblogs</title>
</head>
<body >
    <!-- <div id="preloader">
        <div id="circle1" class="circle"></div>
        <div id="circle2" class="circle"></div>
        <div id="circle3" class="circle"></div>
        <div id="circle4" class="circle"></div>
        <div id="circle5" class="circle"></div>
    </div> -->
    <nav>
            <!-- <i class="fas fa-blog"></i> <a>RSblogs</a> -->
            <ul>
                <li class="fl"><a>Sign Up</a></li>
                <li class="fl"><a>Login</a></li>
                <li><a>Logout</a></li>
            </ul>
    </nav>
    <section id="head">

    </section>











    <script>
        var preloader = document.querySelector("#preloader");
        function wave(){
            setTimeout(function(){
                preloader.style.opacity = 0;
            },3000)
            setTimeout(function(){
                preloader.style.display = 'none';
            },4000)
        }
    </script>
    <script src="https://kit.fontawesome.com/f3ca4af96f.js" crossorigin="anonymous"></script>
</body>
</html>