<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" size="144x144" href="https://www.pngkey.com/png/detail/232-2326777_blogger-logo-icons-no-attribution-white-blog-icon.png" type="image/X-icon">
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/preloader.css">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
    <title>RSblogs</title>
</head>
<body  onload = "wave()">
    <div id="preloader">
        <div id="circle1" class="circle"></div>
        <div id="circle2" class="circle"></div>
        <div id="circle3" class="circle"></div>
        <div id="circle4" class="circle"></div>
        <div id="circle5" class="circle"></div>
    </div>
    
    <main class="header">
        <nav >
            <div class="nav-container">
                <a id="Brand"><i class="fas fa-blog fa-2x"></i> RSblogs</a>
                <ul>
                    <li><a href="#"><i class="fas fa-user-plus icon"></i>Sign Up</a></li>
                    <li><a href="#"><i class="fas fa-sign-in-alt icon"></i>Login</a></li>
                    <li><a href="#"><i class="fas fa-sign-out-alt icon"></i>Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="overlay">
            <div id="content">
                <h1>Write To Inspire</h1>
                <p><button class="new"><i class="fas fa-plus fa-xs"></i> Add new post</button></p>
            </div>
        </div>
    </main>
    <img src="https://images.pexels.com/photos/1295138/pexels-photo-1295138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">










    <script type="text/javascript" src="JS/home.js"></script>
    <script src="https://kit.fontawesome.com/f3ca4af96f.js" crossorigin="anonymous"></script>
</body>
</html>