*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    background-color: white;
}
nav{
    position: fixed;
}
.overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height : 100%;
    z-index:1;
}
 header{
    position:relative;
    min-height:95vh;
    background :linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)), url('https://images.pexels.com/photos/612800/pexels-photo-612800.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 


/* for post new button */
 .new{
    transition: all 0.5s;
    opacity: 0;
    transform: translateY(50px);
    display: inline-block;
    padding: 6px 18px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.new:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

/* for text animation */
#content{
    line-height: 50px;
    color: white;
    width:50%;
}
h1{
    font-weight: 600;
    letter-spacing: 3px;
    font-size:50px;
}
span{
    font-family: 'Lobster', cursive;
    font-size:60px;
    color: rgb(240, 240, 240);
    opacity:0;
    transition: all 1s;
    display: inline-block;
    transform: translateY(-50px);
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.65);
}
.fade{
    opacity:1;
    transform: translateY(0px);
}
.animate{
    opacity: 1;
    transform: translateY(0px);
}



/*Post display styling */
.post-section{
    background-color: rgb(238, 169, 113);
}
.section-heading{
    font-family: 'Lobster', cursive;
    color: rgb(240, 240, 240);
    font-size:55px;
    font-weight: normal;
    padding : 0.5em;
    text-align : center;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
}
.posts{
    height: auto;
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
} 
.post{
    display: flex;
    background-color: rgb(226, 204, 186);
    border-radius:10px;
    width : 70%;
    height : auto;
    margin-bottom : 2.2em;
    box-shadow: 0px 0px 13px -1px rgba(69,69,69,0.25);
    padding : 5px;
}
.post-image{
    width:30%;
    height:auto;
}
.img{
    border-radius : 10px;
    width: 100%;
    height: 100%;
}
.post-details{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 15px;
    width:70%;
}
.post-title{
    font-size: x-large;
    letter-spacing: 1px;
    color: rgb(36, 36, 36);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
    margin : 0.6em 0;
    margin-top:0.3em;
}
.title-div{
    width: 100%;
    align-self: flex-start;
}
.post-desc{
    line-height: 20px;
    font-size: 1.1em;
}
.desc-div{
    width: 100%;
    align-self: center;
}
.btnone{
  display: inline-block;
  letter-spacing:0.05rem;
  padding: 6px 35px;
  margin-top:0.7em;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btnone:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-div{
    width: 100%;
    align-self: flex-end;
}
.footer{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height : 15vh;
    background-color: rgb(20, 18, 18);
}

