*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: steelblue;
}
nav{
    background-color: white;
}
/* }
nav ul{
    float : right;
}*/
.fl{
     list-style-type: none;
     float:left;
     clear:left;
} 